// Override this file to add your own SCSS styling.
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 1rem;
}

.navbar-brand {
  font-weight: bold;
}

.hljs {
  font-size: .9rem;
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #eee;
}

pre {
  background-color: transparent;
}

/* wide elements */
pre, pre * { margin: auto 0; }
pre * { max-width: calc(100vw - 4em);  }
pre {
  max-width: calc(100vw - 2em);
  margin: 1em 0 1em 50%;
  transform: translateX(-50%);
  float: left;
  min-width: 100%;
  background: white;
}

